In [1]:
# Imports
import pandas as pd
import numpy as np

from IPython.display import clear_output

In [2]:
# Read CSV
df = pd.read_csv('data/0_data.csv')

In [3]:
# For testing purpose only
# df = df[:100]

In [4]:
df

,order_id,R_Lon,R_Lat,C_Lon,C_Lat,order_pickedup_time,order_delivered_time
0,PRD_ZMT_2960011,77.063728,28.468983,77.071230,28.449929,2016-04-23 09:30:20,2016-04-23 09:57:04
1,PRD_ZMT_2964555,77.063728,28.468983,77.066637,28.454522,2016-04-23 11:05:32,2016-04-23 11:27:10
2,PRD_ZMT_2968945,77.063728,28.468983,77.067590,28.461570,2016-04-23 14:49:07,2016-04-23 15:07:18
3,PRD_ZMT_2976663,77.063728,28.468983,77.058401,28.455738,2016-04-23 16:43:14,2016-04-23 17:16:12
4,PRD_ZMT_2985948,77.063728,28.468983,77.083967,28.440068,2016-04-24 07:54:14,2016-04-24 08:16:29
...,...,...,...,...,...,...,...
237368,PRD_ZMT_8457746,77.207941,28.532886,77.201892,28.503037,2016-09-25 16:49:02,2016-09-25 17:18:55
237369,PRD_ZMT_8458181,88.352148,22.544237,88.369037,22.560074,2016-09-25 17:07:48,2016-09-25 17:22:04
237370,PRD_ZMT_8458897,72.916411,19.122455,72.918557,19.104956,2016-09-25 17:22:39,2016-09-25 17:43:55
237371,PRD_ZMT_8458955,78.379158,17.450286,78.391155,17.444102,2016-09-25 17:07:15,2016-09-25 17:26:16
237372,PRD_ZMT_8460535,80.267516,12.997905,80.259726,12.986091,2016-09-25 17:25:54,2016-09-25 17:49:23

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237373 entries, 0 to 237372
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              237373 non-null  object
 1   R_Lon                 237373 non-null  float64
 2   R_Lat                 237373 non-null  float64
 3   C_Lon                 237373 non-null  float64
 4   C_Lat                 237373 non-null  float64
 5   order_pickedup_time   237373 non-null  object
 6   order_delivered_time  237373 non-null  object
dtypes: float64(4), object(3)
memory usage: 12.7+ MB

In [6]:
# Checking NULL values
df.isnull().sum()

order_id                0
R_Lon                   0
R_Lat                   0
C_Lon                   0
C_Lat                   0
order_pickedup_time     0
order_delivered_time    0
dtype: int64

# **Calculating `Distance`**

In [7]:
# Setting Radius of Earth
radius_earth = 6371


# Function to convert Degree to Radian
def rad(degree):
    return degree * np.pi / 180

In [8]:
# Function to calculate distance using Haversine Formula
def dist(lat1, lon1, lat2, lon2):
    d_lat = rad(lat2 - lat1)
    d_lon = rad(lon2 - lon1)
    a = np.sin(d_lat / 2) ** 2 + np.cos(rad(lat1)) * np.cos(rad(lat2)) * np.sin(d_lon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return radius_earth * c

In [9]:
df["Distance (km)"] = dist(df["R_Lat"], df["R_Lon"], df["C_Lat"], df["C_Lon"])

In [10]:
df.head()

,order_id,R_Lon,R_Lat,C_Lon,C_Lat,order_pickedup_time,order_delivered_time,Distance (km)
0,PRD_ZMT_2960011,77.063728,28.468983,77.071230,28.449929,2016-04-23 09:30:20,2016-04-23 09:57:04,2.242045
1,PRD_ZMT_2964555,77.063728,28.468983,77.066637,28.454522,2016-04-23 11:05:32,2016-04-23 11:27:10,1.632941
2,PRD_ZMT_2968945,77.063728,28.468983,77.067590,28.461570,2016-04-23 14:49:07,2016-04-23 15:07:18,0.906626
3,PRD_ZMT_2976663,77.063728,28.468983,77.058401,28.455738,2016-04-23 16:43:14,2016-04-23 17:16:12,1.562127
4,PRD_ZMT_2985948,77.063728,28.468983,77.083967,28.440068,2016-04-24 07:54:14,2016-04-24 08:16:29,3.775236

In [11]:
df.to_csv('data/1_data_with_distance.csv', index=False)

# **Calculating `Delivery_Time`**

In [12]:
df = pd.read_csv('data/1_data_with_distance.csv')

In [13]:
# Function to calculate delivery time
def get_time(t1, t2):
    time = (pd.to_datetime(t2) - pd.to_datetime(t1)).dt.total_seconds()
    return time

In [14]:
df["Delivery_Time (sec)"] = get_time(df["order_pickedup_time"], df["order_delivered_time"])

In [15]:
df.head()

,order_id,R_Lon,R_Lat,C_Lon,C_Lat,order_pickedup_time,order_delivered_time,Distance (km),Delivery_Time (sec)
0,PRD_ZMT_2960011,77.063728,28.468983,77.071230,28.449929,2016-04-23 09:30:20,2016-04-23 09:57:04,2.242045,1604.0
1,PRD_ZMT_2964555,77.063728,28.468983,77.066637,28.454522,2016-04-23 11:05:32,2016-04-23 11:27:10,1.632941,1298.0
2,PRD_ZMT_2968945,77.063728,28.468983,77.067590,28.461570,2016-04-23 14:49:07,2016-04-23 15:07:18,0.906626,1091.0
3,PRD_ZMT_2976663,77.063728,28.468983,77.058401,28.455738,2016-04-23 16:43:14,2016-04-23 17:16:12,1.562127,1978.0
4,PRD_ZMT_2985948,77.063728,28.468983,77.083967,28.440068,2016-04-24 07:54:14,2016-04-24 08:16:29,3.775236,1335.0

In [16]:
df.to_csv('data/2_data_with_distance_time.csv', index=False)

# **Calculating `Delivery_Hour` e.g. Hour = 2 for all orders between 2:00 AM & 2:59 AM**

In [17]:
df = pd.read_csv('data/2_data_with_distance_time.csv')

In [18]:
df["Delivery_Hour"] = pd.to_datetime(df["order_pickedup_time"]).dt.hour

In [19]:
df

,order_id,R_Lon,R_Lat,C_Lon,C_Lat,order_pickedup_time,order_delivered_time,Distance (km),Delivery_Time (sec),Delivery_Hour
0,PRD_ZMT_2960011,77.063728,28.468983,77.071230,28.449929,2016-04-23 09:30:20,2016-04-23 09:57:04,2.242045,1604.0,9
1,PRD_ZMT_2964555,77.063728,28.468983,77.066637,28.454522,2016-04-23 11:05:32,2016-04-23 11:27:10,1.632941,1298.0,11
2,PRD_ZMT_2968945,77.063728,28.468983,77.067590,28.461570,2016-04-23 14:49:07,2016-04-23 15:07:18,0.906626,1091.0,14
3,PRD_ZMT_2976663,77.063728,28.468983,77.058401,28.455738,2016-04-23 16:43:14,2016-04-23 17:16:12,1.562127,1978.0,16
4,PRD_ZMT_2985948,77.063728,28.468983,77.083967,28.440068,2016-04-24 07:54:14,2016-04-24 08:16:29,3.775236,1335.0,7
...,...,...,...,...,...,...,...,...,...,...
237368,PRD_ZMT_8457746,77.207941,28.532886,77.201892,28.503037,2016-09-25 16:49:02,2016-09-25 17:18:55,3.371266,1793.0,16
237369,PRD_ZMT_8458181,88.352148,22.544237,88.369037,22.560074,2016-09-25 17:07:48,2016-09-25 17:22:04,2.471663,856.0,17
237370,PRD_ZMT_8458897,72.916411,19.122455,72.918557,19.104956,2016-09-25 17:22:39,2016-09-25 17:43:55,1.958820,1276.0,17
237371,PRD_ZMT_8458955,78.379158,17.450286,78.391155,17.444102,2016-09-25 17:07:15,2016-09-25 17:26:16,1.446523,1141.0,17
237372,PRD_ZMT_8460535,80.267516,12.997905,80.259726,12.986091,2016-09-25 17:25:54,2016-09-25 17:49:23,1.561438,1409.0,17

In [20]:
df.to_csv('data/3_data_with_distance_time_hour.csv', index=False)

# **Finding `State` of the restaurant**

In [21]:
df = pd.read_csv('data/3_data_with_distance_time_hour.csv')

In [22]:
try:
    df = pd.read_csv('data/4_data_with_distance_time_hour_state.csv')
    saved = len(df) - df["State"].isnull().sum() - 1
except:
    df["State"] = np.nan
    saved = 0

In [23]:
from geopy.geocoders import Nominatim

# initialize Nominatim API
geolocator = Nominatim(user_agent="GetLoc")

In [24]:
# Function to fetch State of restaurant
def get_state(latitude, longitude):
    latitudes_str = str(latitude)
    longitudes_str = str(longitude)

    location = latitudes_str + ", " + longitudes_str

    address = geolocator.reverse(location)

    states = address.raw['address'].get('state', '')

    return states

In [25]:
from datetime import datetime


def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60

    return f"{hour} Hours {minutes} Minutes, {seconds} Seconds"


start = saved
start_time = datetime.now()

for i in range(saved, len(df)):
    try:
        if pd.isna(df.loc[i]["State"]):
            df.loc[i, "State"] = get_state(df.loc[i, 'R_Lat'], df.loc[i, 'R_Lon'])
    except:
        # Due to some issues replacing failed rows with previous state
        df.loc[i, "State"] = df.loc[i - 1, "State"]

    # Saving after a while to prevent data loss
    if (i + 1) % 100 == 0 or i + 1 == len(df):
        df.to_csv('data/4_data_with_distance_time_hour_state.csv', index=False)
        saved = i + 1
        # time.sleep(5)

    clear_output()
    time_diff = (datetime.now() - start_time).total_seconds()
    loops = i - start + 1
    rem = len(df) - i - 1
    time_remaining = int(time_diff * rem / loops)
    print(f"Saved till {saved}")
    print(f"{i + 1}/{len(df)} -> {df.loc[i, 'State']}")
    print(f"Current rate: ~{int(3600 * loops / time_diff)} iterations/hour")
    print(f"Estimated Time Remaining: ~{convert(time_remaining)}")

Saved till 237373
237373/237373 -> Tamil Nadu
Current rate: ~1939 iterations/hour
Estimated Time Remaining: ~0 Hours 0 Minutes, 0 Seconds

In [26]:
df

,Unnamed: 0,order_id,R_Lon,R_Lat,C_Lon,C_Lat,order_pickedup_time,order_delivered_time,Distance (km),Delivery_Time (sec),Delivery_Hour,State
0,0,PRD_ZMT_2960011,77.063728,28.468983,77.071230,28.449929,2016-04-23 09:30:20,2016-04-23 09:57:04,2.242045,1604.0,9,Haryana
1,1,PRD_ZMT_2964555,77.063728,28.468983,77.066637,28.454522,2016-04-23 11:05:32,2016-04-23 11:27:10,1.632941,1298.0,11,Haryana
2,2,PRD_ZMT_2968945,77.063728,28.468983,77.067590,28.461570,2016-04-23 14:49:07,2016-04-23 15:07:18,0.906626,1091.0,14,Haryana
3,3,PRD_ZMT_2976663,77.063728,28.468983,77.058401,28.455738,2016-04-23 16:43:14,2016-04-23 17:16:12,1.562127,1978.0,16,Haryana
4,4,PRD_ZMT_2985948,77.063728,28.468983,77.083967,28.440068,2016-04-24 07:54:14,2016-04-24 08:16:29,3.775236,1335.0,7,Haryana
...,...,...,...,...,...,...,...,...,...,...,...,...
237368,237368,PRD_ZMT_8457746,77.207941,28.532886,77.201892,28.503037,2016-09-25 16:49:02,2016-09-25 17:18:55,3.371266,1793.0,16,Delhi
237369,237369,PRD_ZMT_8458181,88.352148,22.544237,88.369037,22.560074,2016-09-25 17:07:48,2016-09-25 17:22:04,2.471663,856.0,17,West Bengal
237370,237370,PRD_ZMT_8458897,72.916411,19.122455,72.918557,19.104956,2016-09-25 17:22:39,2016-09-25 17:43:55,1.958820,1276.0,17,Maharashtra
237371,237371,PRD_ZMT_8458955,78.379158,17.450286,78.391155,17.444102,2016-09-25 17:07:15,2016-09-25 17:26:16,1.446523,1141.0,17,Telangana
237372,237372,PRD_ZMT_8460535,80.267516,12.997905,80.259726,12.986091,2016-09-25 17:25:54,2016-09-25 17:49:23,1.561438,1409.0,17,Tamil Nadu

In [27]:
df.to_csv('data/4_data_with_distance_time_hour_state.csv', index=False)

# Rearranging the columns

In [28]:
df = pd.read_csv('data/4_data_with_distance_time_hour_state.csv')

In [29]:
df.columns

Index(['Unnamed: 0', 'order_id', 'R_Lon', 'R_Lat', 'C_Lon', 'C_Lat',
       'order_pickedup_time', 'order_delivered_time', 'Distance (km)',
       'Delivery_Time (sec)', 'Delivery_Hour', 'State'],
      dtype='object')

In [30]:
# Rearranging the columns
df = df[["order_id", "R_Lat", "R_Lon", "C_Lat", "C_Lon", "order_pickedup_time", "order_delivered_time", "Distance (km)",
         "Delivery_Hour", "State", 'Delivery_Time (sec)']]

In [31]:
df

,order_id,R_Lat,R_Lon,C_Lat,C_Lon,order_pickedup_time,order_delivered_time,Distance (km),Delivery_Hour,State,Delivery_Time (sec)
0,PRD_ZMT_2960011,28.468983,77.063728,28.449929,77.071230,2016-04-23 09:30:20,2016-04-23 09:57:04,2.242045,9,Haryana,1604.0
1,PRD_ZMT_2964555,28.468983,77.063728,28.454522,77.066637,2016-04-23 11:05:32,2016-04-23 11:27:10,1.632941,11,Haryana,1298.0
2,PRD_ZMT_2968945,28.468983,77.063728,28.461570,77.067590,2016-04-23 14:49:07,2016-04-23 15:07:18,0.906626,14,Haryana,1091.0
3,PRD_ZMT_2976663,28.468983,77.063728,28.455738,77.058401,2016-04-23 16:43:14,2016-04-23 17:16:12,1.562127,16,Haryana,1978.0
4,PRD_ZMT_2985948,28.468983,77.063728,28.440068,77.083967,2016-04-24 07:54:14,2016-04-24 08:16:29,3.775236,7,Haryana,1335.0
...,...,...,...,...,...,...,...,...,...,...,...
237368,PRD_ZMT_8457746,28.532886,77.207941,28.503037,77.201892,2016-09-25 16:49:02,2016-09-25 17:18:55,3.371266,16,Delhi,1793.0
237369,PRD_ZMT_8458181,22.544237,88.352148,22.560074,88.369037,2016-09-25 17:07:48,2016-09-25 17:22:04,2.471663,17,West Bengal,856.0
237370,PRD_ZMT_8458897,19.122455,72.916411,19.104956,72.918557,2016-09-25 17:22:39,2016-09-25 17:43:55,1.958820,17,Maharashtra,1276.0
237371,PRD_ZMT_8458955,17.450286,78.379158,17.444102,78.391155,2016-09-25 17:07:15,2016-09-25 17:26:16,1.446523,17,Telangana,1141.0
237372,PRD_ZMT_8460535,12.997905,80.267516,12.986091,80.259726,2016-09-25 17:25:54,2016-09-25 17:49:23,1.561438,17,Tamil Nadu,1409.0

In [32]:
df.to_csv('data/Preprocessed_Data.csv', index=False)